<div class="container-fluid">
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 px-3">Subject</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb px-3">
                  <li class="breadcrumb-item">Home</li>
                  <li class="breadcrumb-item active" aria-current="page">Subject</li>
                </ol>
              </nav>
        </div>
       </div>
    <div class="row">
        <div class="col-sm-5 d-flex">
            <input type="text" placeholder="Enter Reciept Number" class="form-control" aria-label="Default select example">


            <button
                style="min-width: 72px; height: 40px; background-color: #18a689; border: none; color: white; border-radius: 3px;">
                Search
            </button>
        </div>
    </div>
    </div>