<div class="container-fluid">
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 px-3">Subject</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb px-3">
                  <li class="breadcrumb-item">Home</li>
                  <li class="breadcrumb-item active" aria-current="page">Subject</li>
                </ol>
              </nav>
        </div>
       </div>
    <div class="row">
        <div class="col-sm-12">

                
            <div class="col-sm-5 d-flex">
                <select class="form-select " aria-label="Default select example">
                    <option selected>Select Class</option>
                    <option value="1">PLAY GROUP</option>
                    <option value="2">NURSERY</option>
                    <option value="3">LKG</option>
                    <option value="3">UKG</option>
                    <option value="3">1</option>
                    <option value="3">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <option value="3">6</option>
                    <option value="3">7</option>
                    <option value="3">8</option>
                    <option value="3">9</option>
                    <option value="3">10</option>
                    <option value="3">11</option>
                    <option value="3">12</option>
                </select>
    
    
                <button
                    style="min-width: 72px; height: 40px; background-color: #18a689; border: none; color: white; border-radius: 3px;">
                    Search
                </button>
            </div>

            
        </div>
    </div>
    <img src="../assets/img/namelogo.png" style="height: 22%;width: 100%;">
    <p>
        <span>CLASS WISE REPORT</span>
        <span style="float: right;" id="class_text">#CLASS: LKG</span>
     </p>

     <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table" fdprocessedid="9hscev">

     <table
     class="footable table table-stripped table-bordered footable-loaded"
     data-page-size="10" data-filter="#filter" data-limit-navigation="5">
     <thead>
         <tr>
             <th class="footable-sortable">#<span
                     class="footable-sort-indicator"></span></th>
             <th class="footable-sortable">Adm. No<span
                     class="footable-sort-indicator"></span></th>
             <th class="footable-sortable footable-sorted-desc">ST. Name
                 No.<span class="footable-sort-indicator"></span></th>
             <th class="footable-sortable">DOB<span
                     class="footable-sort-indicator"></span></th>
             <th class="footable-sortable">F.Name/M.Name<span
                     class="footable-sort-indicator"></span></th>
             <th class="footable-sortable">F. OCCU<span
                     class="footable-sort-indicator"></span></th>
             <th class="footable-sortable">Contact No.<span
                     class="footable-sort-indicator"></span></th>
             <th class="footable-sortable">Address<span
                     class="footable-sort-indicator"></span></th>
             <th class="footable-sortable">Action<span
                     class="footable-sort-indicator"></span></th>
         </tr>
     </thead>
     <tbody id="data_tr">
     </tbody>
     <tfoot>
     </tfoot>
 </table>

     
        </div>