<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm-12">
            <section class="home-section">
                <div class="home-content">
                    <button class='bx bx-menu rounded border-0' style="height: 28px;
                    width: 37px; padding: 5px;
                    background-color: #1ab394;
                    color: #ffff;
                "></button>
                </div>
            </section>
        </div>
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 px-3" style="font-size: 1.75em; font-weight: 100;">Student</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Student</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">


            <div class="col-sm-5 d-flex">
                <select class="form-select " aria-label="Default select example" [(ngModel)]="admissionId">
                    <option selected value="">Select Class</option>
                    <option value="PLAY GROUP">PLAY GROUP</option>
                    <option value="NURSERY">NURSERY</option>
                    <option value="Lkg">LKG</option>
                    <option value="UKG">UKG</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8th">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>


                <button
                    style="min-width: 72px; height: 40px; background-color: #18a689; border: none; color: white; border-radius: 3px;"
                    (click)="getAdmissionId()">
                    Search
                </button>
            </div>


        </div>
    </div>

    <div *ngIf="showContent">

        <img src="../assets/img/namelogo.png" style="height: 22%;width: 100%;">
        <p>
            <span>CLASS WISE REPORT</span>
            <span style="float: right;" id="class_text">#CLASS: {{class}}</span>
        </p>
        <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table"
            fdprocessedid="9hscev" [(ngModel)]="inputValues" (input)="getsearchedValues()">

        <table class="footable table table-stripped table-bordered footable-loaded" data-page-size="10"
            data-filter="#filter" data-limit-navigation="5">
            <thead>
                <tr>
                    <th class="footable-sortable">#<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('admission_number')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                    <th class="footable-sortable">Adm. No<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('admission_number')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                    <th class="footable-sortable">ST. Name<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('name')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                    <th class="footable-sortable">DOB<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('date_of_birth')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                    <th class="footable-sortable">F.Name<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('father_name')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                    <th class="footable-sortable">M.Name<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('mother_name')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                    <th class="footable-sortable">F. OCCU<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('father_occupation')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                    <th class="footable-sortable">Contact No.<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('phone_number')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                    <th class="footable-sortable">Address<span class="footable-sort-indicator">
                        <div class="d-inline-block" (click)="sort('permanent_address')">
                            <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                        </svg>
                        </div> </span>
                    </th>
                   
                    <th class="footable-sortable">Status <span class="footable-sort-indicator"></span></th>
                </tr>
            </thead>
            <tbody *ngFor="let student of copyArray; let idx = index">
                <td>{{student.id}}</td>
                <td>{{student.admission_number}}</td>
                <td>{{student.name}}</td>
                <td>{{student.date_of_birth}}</td>
                <td>{{student.father_name}}</td>
                <td>{{student.mother_name}}</td>
                <td>{{student.father_occupation}}</td>
                <td>{{student.phone_number}}</td>
                <td>{{student.permanent_address}}</td>
                <td><button class="btn btn-danger" (click)="toggleStudent(student)" >{{student.isEnabled ? 'Enabled' : 'Disabled'}}</button></td>


            </tbody>
            <tfoot>
            </tfoot>
        </table>

    </div>

</div>










<div id="myModal" class="modal" *ngIf="showModal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="showModal = false">&times;</span>
        <h3>Data Not Found !</h3>
        <button class="btn btn-danger" style="width: 70px;" (click)="showModal = false">close
        </button>
    </div>

</div>


 <div id="myModal" class="modal" *ngIf="disableSuccessModal">


<div class="modal-content">
        <span class="close" (click)="disableSuccessModal = false">&times;</span>
        <h3> Student Disbaled Succesfully </h3>
        <button class="btn btn-danger" style="width: 70px;" (click)="disableSuccessModal = false">close
        </button>
    </div>

</div>


<div id="myModal" class="modal"*ngIf="enableSuccessModal" >
Modal content 
<div class="modal-content">
<span class="close" (click)="enableSuccessModal = false">&times;</span>
        <h3>Student Enabled Succesfully </h3>
        <button class="btn btn-danger" style="width: 70px;" (click)="enableSuccessModal = false">close
        </button>
    </div>

</div>

