<div class="container-fluid">
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 px-3">Subject</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb px-3">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Subject</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

            <button style="background-color: #337ab7;border: none ; color: white; width: 193px;height: 51px;"
                (click)="punchSaleRate()">Change Sale Rate</button>
            <button
                style="background-color: #337ab7;border: none ; color: white;width: 193px;height: 51px; margin-left: 10px;"
                (click)="changeSaleRate()"> Punch Sale Rate</button>


            <div class="custom-select-wrapper my-3 d-flex" *ngIf="punchSaleRateContent">
                <input type="text" [(ngModel)]="selectedOption" placeholder="Select Book Code" readonly
                    (click)="toggleDropdown()" />

                <div class="dropdown" *ngIf="isDropdownOpen">
                    <input type="search" [(ngModel)]="searchTerm" placeholder="Search" (input)="filterOptions()" />
                    <ul>
                        <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
                            {{ option }}
                        </li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary" id="btn_search"
                    style="min-width: 98px;height: 42px; background-color: #18a689; color: white; border: none;"
                    (click)="getSelectedValues()">Search
                </button>
            </div>




        </div>
    </div>



    <table class="table table-striped" *ngIf="punchSaleRateContent">
        <thead>
            <tr>
                <th scope="col">BOOK CODE</th>
                <th scope="col">BOOK Name</th>
                <th scope="col">BOOK PUB.</th>
                <th scope="col">Class</th>
                <th scope="col">RECD QTY</th>
                <th scope="col">RECD VALUE</th>
                <th scope="col">ISS VALUE</th>
                <th scope="col">BALANCE QTY</th>
                <th scope="col">BALANCE VALUE</th>
                <th scope="col">SALE RATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of displayAllData">
                <td>{{book.bookCode}}</td>
                <td>{{book.bookName}}</td>
                <td>{{book.bookPub}}</td>
                <td>{{book.class}}</td>
                <td>{{book.returnQty}}</td>
                <td>{{book.vendorId}}</td>
                <td>{{book.totalQtyOrder}}</td>
                <td>{{book.qty_order}}</td>
                <td>{{book.totalAmount}}</td>
                <td>{{book.saleRate}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped" *ngIf="changeSaleRateContent">
        <thead>
            <tr>
                <th scope="col">BOOK CODE</th>
                <th scope="col">BOOK Name</th>
                <th scope="col">BOOK PUB.</th>
                <th scope="col">Class</th>
                <th scope="col">RECD QTY</th>
                <th scope="col">RECD VALUE</th>
                <th scope="col">ISS VALUE</th>
                <th scope="col">BALANCE QTY</th>
                <th scope="col">BALANCE VALUE</th>
                <th scope="col">SALE RATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of displayData">
                <td>{{book.bookCode}}</td>
                <td>{{book.bookName}}</td>
                <td>{{book.bookPub}}</td>
                <td>{{book.class}}</td>
                <td>{{book.returnQty}}</td>
                <td>{{book.vendorId}}</td>
                <td>{{book.totalQtyOrder}}</td>
                <td>{{book.qty_order}}</td>
                <td>{{book.totalAmount}}</td>
                <td>{{book.saleRate}}</td>
            </tr>
        </tbody>
    </table>


    <div id="myModal" class="modal" *ngIf="showModal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close" (click)="showModal = false">&times;</span>
            <h3>Data Not Found !</h3>
            <button (click)="showModal = false" class="btn btn-danger">close</button>
        </div>

    </div>