<div class="container-fluid">
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 px-3">Subject</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb px-3">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Subject</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 d-flex">
            <select class="form-select " aria-label="Default select example" [(ngModel)]="feePayment">
                <option selected>Select Class</option>
                <option value="PLAY GROUP">PLAY GROUP</option>
                <option value="NURSERY">NURSERY</option>
                <option value="LKG">LKG</option>
                <option value="3">UKG</option>
                <option value="3">1</option>
                <option value="3">2</option>
                <option value="3">3</option>
                <option value="3">4</option>
                <option value="3">5</option>
                <option value="3">6</option>
                <option value="3">7</option>
                <option value="3">8</option>
                <option value="3">9</option>
                <option value="10">10</option>
                <option value="3">11</option>
                <option value="3">12</option>
            </select>


            <button
                style="min-width: 72px; height: 40px; background-color: #18a689; border: none; color: white; border-radius: 3px;"
                (click)="getSelctedValue()">
                Search
            </button>
        </div>
        <div class="container my-5" *ngIf="showDetails">
            <div>

                <img src="../assets/img/namelogo.png" style="height: 25%; width: 100%;">
                <p>
                    <span>#FEE PAYMENT</span>
                    <span style="float: right;" id="date">#Class : LKG</span>
                </p>
                <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table"
                    fdprocessedid="pdhux" [(ngModel)]="inputValues" (input)="getsearchedValues()">


                <table class="table table-striped">

                    <thead>
                        <tr>

                            <th class="footable-sortable">#<span class="footable-sort-indicator">
                                    <div class="d-inline-block" (click)="sort('admission_number')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </div>
                                </span>
                            </th>
                            <th class="footable-sortable">ADM NO.<span class="footable-sort-indicator">
                                    <div class="d-inline-block" (click)="sort('admission_number')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </div>
                                </span>
                            </th>
                            <th class="footable-sortable">CLASS<span class="footable-sort-indicator">
                                    <div class="d-inline-block" (click)="sort('admission_number')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </div>
                                </span>
                            </th>
                            <th class="footable-sortable">ST .NAME<span class="footable-sort-indicator">
                                    <div class="d-inline-block" (click)="sort('name')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </div>
                                </span>
                            </th>
                            <th class="footable-sortable">FATHER NAME<span class="footable-sort-indicator">
                                    <div class="d-inline-block" (click)="sort('father_name')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </div>
                                </span>
                            </th>
                            <th class="footable-sortable">CONTACT NUMBER<span class="footable-sort-indicator">
                                    <div class="d-inline-block" (click)="sort('phone_number')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </div>
                                </span>
                            </th>
                            <th class="footable-sortable">FEE STATUS<span class="footable-sort-indicator">
                                    <div class="d-inline-block" (click)="sort('father_name')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5" />
                                        </svg>
                                    </div>
                                </span>
                            </th>
                            <th scope="col">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let payment of copyArray">
                            <td>{{payment.id}}</td>
                            <td>{{payment.admission_number}}</td>
                            <td>{{payment.assign_class}}</td>
                            <td>{{payment.name}}</td>
                            <td>{{payment.father_name}}</td>
                            <td>{{payment.phone_number}}</td>
                            <td>{{payment.fee}}</td>
                            <td><button class="btn btn-primary" (click)="getPayment(payment)">Pay</button></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal" *ngIf=" showModal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="showModal = false">&times;</span>
        <h3>Data Not Found!</h3>
        <button (click)="showModal = false" class="btn btn-danger !important">close</button>
    </div>

</div>

<div id="myModal" class="modal" *ngIf="feePayModal">

    <!-- Modal content -->
    <div class="modal-content" style="width: 60%;">
        <span class="close" (click)="feePayModal = false">&times;</span>
        <div class="col-sm-12 d-flex" [formGroup]="patchValueForm">
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-noraml">Admission No.</label>
                    <input class="form-control" type="text" formControlName="admission_number">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-noraml">Class</label>
                    <input class="form-control" type="text" id="class" name="class" formControlName="assign_class">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-noraml">Student Name</label>
                    <input class="form-control" type="text" id="student_name" name="student_name"
                        formControlName="name">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="font-noraml">Father's Name</label>
                    <input class="form-control" type="text" id="father_name" name="father_name"
                        formControlName="father_name">
                </div>
            </div>
        </div>
        <div class="container" [formGroup]="PaidFeeForm">

            <div class="col-sm-12 d-flex">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Session</label>
                        <input class="form-control" type="text" id="session" name="session" value="2024-25" disabled=""
                            fdprocessedid="w1mcr">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Month</label>
                        <select class="form-control" type="text" formControlName="fee_date_nov">
                            <option value="">Select Month</option>
                            <option value="05">May</option>
                            <option value="06">June</option>
                            <option value="08">August</option>
                            <option value="09">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                            <option value="01">January</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Admission Fee</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0"
                            formControlName="admission_fee">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Session Fee</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0"
                            formControlName="session_fee">
                    </div>
                </div>
            </div>


            <div class="col-sm-12 d-flex">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Tution Fee</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0"
                            formControlName="tuition_fee">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Fine</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0" formControlName="fine">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Re-Admission Fee</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0"
                            formControlName="ree_admission_fee">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Exam Fee</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0"
                            formControlName="exam_fee">
                    </div>
                </div>
            </div>

            <div class="col-sm-12 d-flex">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Development Fee</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0"
                            formControlName="development_fee">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Activity Fee</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0"
                            formControlName="activity_fee">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Computer Science Fee</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0"
                            formControlName="computer_science_fee">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Other</label>
                        <input class="form-control" type="number" maxlength="5" placeholder="0" formControlName="other">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 d-flex">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">other 1.</label>
                        <input class="form-control" type="number" placeholder="0" formControlName="other1">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="font-noraml">Total</label>
                        <div class="total" style=" height: 38px; width: 131px;">
                            <input type="text" class="form-control" disabled="" value="{{grandTotal}}">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn d-flex">


            <button (click)="closeFeePayContent()">close</button>
            <button class="btn btn-primary mx-3" (click)="getTotalFee()">Save</button>
        </div>
    </div>

</div>



<div id="myModal" class="modal" *ngIf="successModal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="successModal = false">&times;</span>
        <h3>Fee Paid Succesfully</h3>
        <button class="btn btn-danger" (click)="successModal = false">Close</button>
    </div>

</div>