<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm-12">
            <section class="home-section">
                <div class="home-content">
                    <button class='bx bx-menu rounded border-0' style="height: 28px;
                    width: 37px; padding: 5px;
                    background-color: #1ab394;
                    color: #ffff;
                "></button>
                </div>
            </section>
        </div>
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 " style="font-size: 1.75em; font-weight: 100;">Promote TO Higher Class</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb px-3">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Promote TO Higher Class</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-container">
                <div class="step-indicators">
                    <div *ngFor="let step of steps; let i = index" [class.active]="currentStep === i + 1"
                        class="step-indicator">
                        {{ i + 1 }}
                    </div>
                </div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-content">
                        <ng-container [ngSwitch]="currentStep">
                            <ng-container *ngSwitchCase="1">
                                <label for="fatherDOB">Daughter's DOB?</label>
                                <input id="fatherDOB" type="date" formControlName="fatherDOB" placeholder="DD/MM/YYYY">
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                                <label for="motherName">Your,s First Name</label>
                                <input id="motherName" type="text" formControlName="motherName"
                                    placeholder="Your,s First Name">
                            </ng-container>
                            <ng-container *ngSwitchCase="3">
                                <label for="siblings">Date of Birth?</label>
                                <input id="siblings" type="number" formControlName="siblings"
                                    placeholder="DD/MM/YYYY">
                            </ng-container>
                            <ng-container *ngSwitchCase="4">
                                <label for="hometown">father,s First Name</label>
                                <input id="hometown" type="text" formControlName="hometown"
                                    placeholder="father,s Name">
                            </ng-container>
                            <ng-container *ngSwitchCase="5">
                                <label for="favColor">daughter,s First Name</label>
                                <input id="favColor" type="text" formControlName="favColor"
                                    placeholder="daughter,s First Name">
                            </ng-container>
                            <ng-container *ngSwitchCase="6">
                                <label for="petName">Favourite Colour</label>
                                <input id="petName" type="text" formControlName="petName"
                                    placeholder="Favourite Colour">
                            </ng-container>
                            <ng-container *ngSwitchCase="7">
                                <label for="petName">Daughters DOB</label>
                                <input id="petName" type="number" formControlName="petName"
                                    placeholder="DD/MM/YYYY">
                            </ng-container>
                        </ng-container>
                    </div>
                    <div class="button-container">
                        <!-- <button type="button" (click)="prevStep()" *ngIf="currentStep > 1">Previous</button> -->
                        <button type="button" (click)="nextStep()" *ngIf="currentStep < steps.length">Next</button>
                        <button type="submit" *ngIf="currentStep === steps.length">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>