<div class="container-fluid">
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 px-3">Subject</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb px-3">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Subject</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12  ">
            <div class="col-sm-6 d-flex" style="padding-top: 10px;">
                <div class="input-group"><span class="input-group-addon"></span><input list="admission_nos"
                        class="form-control" type="text" placeholder="Enter Admission Number" style="height: 35px;">
                    <span class="input-group-btn"> <button type="button" class="btn btn-primary"
                            style="min-width: 72px; color: white;background-color: #18a689;  height:36px;" (click)="show = true">Search
                        </button> </span>
                </div>
                <datalist id="admission_nos">
                    <option value="#161"></option>
                    <option value="#42"></option>
                    <option value="#44"></option>
                    <option value="#137"></option>
                    <option value="#134"></option>
                    <option value="#87"></option>
                    <option value="#119"></option>
                    <option value="#129"></option>
                    <option value="#132"></option>
                    <option value="#83"></option>
                    <option value="#80"></option>
                    <option value="#85"></option>
                    <option value="#93"></option>
                    <option value="#94"></option>
                    <option value="#141"></option>
                    <option value="#140"></option>
                    <option value="#138"></option>
                    <option value="#84"></option>
                    <option value="#125"></option>
                    <option value="#90"> </option>
                </datalist>
                <div class="from-control">
                    <small
                        style=" margin: 72px; background-color: #18a689; color: white !important; font-size: 12px; border-radius: 1px; "
                        class="form-text text-muted text-light">Session.</small>
                    <input type="text" name="sessionVal" id="sessionVal" class="form-control" style="height: 30px;     margin-left: 75px;argin: 67px;
" fdprocessedid="kzwelj">
                </div>
            </div>


            <div class="panel panel-info" *ngIf="show">
                <div class="panel-heading" align="center">Student Record </div>
                <div method="post" action="../model/academic_record_model_temp.php" id="form_stu_records">
                    <div class="panel-body table-responsive" id="bodyContent">
                        <style>
                            .rotate {
                                -webkit-transform: rotate(-90deg);

                                /* Firefox */
                                -moz-transform: rotate(-90deg);

                                /* IE */
                                -ms-transform: rotate(-90deg);

                                /* Opera */
                                -o-transform: rotate(-90deg);
                            }

                            .rowinput {
                                width: 100%;
                                text-align: center;
                            }

                            td {
                                text-align: center;
                            }

                            table {
                                font-size: 14px;
                            }
                        </style>


                        <table class="table table bordered" rules="all" [formGroup]="performanceForm">
                            <tbody>
                                <tr>
                                    <th colspan="2" style="text-align:center !important;">Name :</th>
                                    <td colspan="3" style="text-align:center !important;">DEEPANSHU</td>
                                    <th colspan="2" style="text-align:center !important;">Class :</th>
                                    <td colspan="3" style="text-align:center !important;">LKG</td>
                                    <th colspan="2" style="text-align:center !important;">Addmission No :</th>
                                    <td colspan="3" style="text-align:center !important;">#134</td>
                                </tr>
                                <tr>
                                    <th rowspan="3">
                                        <h2>SUBJECTS</h2>
                                    </th>
                                    <th colspan="6">
                                        <h3>I Term</h3>
                                    </th>
                                    <th colspan="6">
                                        <h3>II Term</h3>
                                    </th>
                                    <th colspan="2" rowspan="2">
                                        <h3>GRAND TOTAL</h3>
                                    </th>
                                </tr>
                                <tr>
                                    <th colspan="2">I Unit Test</th>
                                    <th colspan="4">Half Yearly Examination</th>
                                    <th colspan="2">II Unit Test</th>
                                    <th colspan="4">Annual Examination</th>
                                </tr>
                                <tr>
                                    <th>M. Marks</th>
                                    <th>Marks Obt.</th>
                                    <th>M. Marks</th>
                                    <th>10&nbsp;Oral&nbsp;</th>
                                    <th>40 Written</th>
                                    <th>&nbsp;&nbsp;&nbsp;Total&nbsp;&nbsp;&nbsp;</th>
                                    <th>M. Marks</th>
                                    <th>Marks Obt.</th>
                                    <th>M. Marks</th>
                                    <th>20 &nbsp;&nbsp;Oral&nbsp;&nbsp;</th>
                                    <th>80 Written</th>
                                    <th>&nbsp;&nbsp;&nbsp;Total&nbsp;&nbsp;&nbsp;</th>
                                    <th>Max. Marks</th>
                                    <th>Marks Obtained</th>
                                </tr>
                                <tr style="background-color: #f0efef;">
                                    <th class="rowinput">Assignments (Grades)</th>
                                    <th colspan="6" class="rowinput">I Term</th>
                                    <th colspan="6" class="rowinput">II Term</th>
                                    <th colspan="2" class="rowinput">Consolidated</th>
                                </tr>
                                <tr>
                                    <th>Drawing</th>
                                    <td colspan="3"><select formControlName="drawingrating" class="form-control"
                                          >
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                    <td colspan="3"><select id="drw_1_2Term" name="drw_1_2Term" class="form-control"
                                            fdprocessedid="67nbx">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                    <td colspan="3"><select id="drw_2_1Term" name="drw_2_1Term" class="form-control"
                                            fdprocessedid="86fshk">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                    <td colspan="3"><select id="drw_2_2Term" name="drw_2_2Term" class="form-control"
                                            fdprocessedid="epq5fi">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                    <td colspan="2"><select id="drw_consolidate" name="drw_consolidate"
                                            class="form-control" fdprocessedid="rnbrk7">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <th>Home Work</th>
                                    <td colspan="3"><select id="hw_1_1Term" name="hw_1_1Term" class="form-control"
                                            fdprocessedid="sr0bh">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                    <td colspan="3"><select id="hw_1_2Term" name="hw_1_2Term" class="form-control"
                                            fdprocessedid="0dn5am">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                    <td colspan="3"><select id="hw_2_1Term" name="hw_2_1Term" class="form-control"
                                            fdprocessedid="g70wvh">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                    <td colspan="3"><select id="hw_2_2Term" name="hw_2_2Term" class="form-control"
                                            fdprocessedid="fl4wxb">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                    <td colspan="2"><select id="hw_consolidate" name="hw_consolidate"
                                            class="form-control" fdprocessedid="m9ld59">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <th>School Uniform</th>
                                    <td colspan="3"><select id="su_1_1Term" name="su_1_1Term" class="form-control"
                                            fdprocessedid="sx2pt">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                    <td colspan="3"><select id="su_1_2Term" name="su_1_2Term" class="form-control"
                                            fdprocessedid="nxbl7q">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                    <td colspan="3"><select id="su_2_1Term" name="su_2_1Term" class="form-control"
                                            fdprocessedid="6hpj9k">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                    <td colspan="3"><select id="su_2_2Term" name="su_2_2Term" class="form-control"
                                            fdprocessedid="d73yer">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                    <td colspan="2"><select id="su_consolidate" name="su_consolidate"
                                            class="form-control" fdprocessedid="q6kipg">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <th>P.T. &amp; Music</th>
                                    <td colspan="3"><select id="pt_1_1Term" name="pt_1_1Term" class="form-control"
                                            fdprocessedid="3jqdfn">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                    <td colspan="3"><select id="pt_1_2Term" name="pt_1_2Term" class="form-control"
                                            fdprocessedid="o1ogp6">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                    <td colspan="3"><select id="pt_2_1Term" name="pt_2_1Term" class="form-control"
                                            fdprocessedid="vdzj7">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                    <td colspan="3"><select id="pt_2_2Term" name="pt_2_2Term" class="form-control"
                                            fdprocessedid="beitm">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                    <td colspan="2"><select id="pt_consolidate" name="pt_consolidate"
                                            class="form-control" fdprocessedid="4rmng">
                                            <option value="">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="B+">B+</option>
                                            <option value="B">B</option>
                                            <option value="C">C</option>
                                            <option value="ML">ML</option>
                                            <option value="AB">AB</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <th>Percentage</th>
                                    <td colspan="3"><input type="text" class="form-control rowinput" id="per_1_1Term"
                                            name="per_1_1Term" value="" readonly="true" fdprocessedid="0stmj"></td>
                                    <td colspan="3"><input type="text" class="form-control rowinput" id="per_1_2Term"
                                            name="per_1_2Term" value="" readonly="true" fdprocessedid="se6x6u"></td>
                                    <td colspan="3"><input type="text" class="form-control rowinput" id="per_2_1Term"
                                            name="per_2_1Term" value="" readonly="true" fdprocessedid="2yjwlf"></td>
                                    <td colspan="3"><input type="text" class="form-control rowinput" id="per_2_2Term"
                                            name="per_2_2Term" value="" readonly="true" fdprocessedid="gkvoff"></td>
                                    <td colspan="2"><input type="text" class="form-control rowinput"
                                            id="per_consolidate" name="per_consolidate" value="" readonly="true"
                                            fdprocessedid="03ed3i"></td>
                                </tr>
                                <tr>
                                    <th>Division</th>
                                    <td colspan="3"><select id="dis_1_1Term" name="dis_1_1Term" class="form-control"
                                            fdprocessedid="0w77o">
                                            <option value="">Select</option>
                                            <option value="I">I</option>
                                            <option value="II">II</option>
                                            <option value="III">III</option>
                                        </select></td>
                                    <td colspan="3"><select id="dis_1_2Term" name="dis_1_2Term" class="form-control"
                                            fdprocessedid="6ge8r">
                                            <option value="">Select</option>
                                            <option value="I">I</option>
                                            <option value="II">II</option>
                                            <option value="III">III</option>
                                        </select></td>
                                    <td colspan="3"><select id="dis_2_1Term" name="dis_2_1Term" class="form-control"
                                            fdprocessedid="143799">
                                            <option value="">Select</option>
                                            <option value="I">I</option>
                                            <option value="II">II</option>
                                            <option value="III">III</option>
                                        </select></td>
                                    <td colspan="3"><select id="dis_2_2Term" name="dis_2_2Term" class="form-control"
                                            fdprocessedid="oibx0n">
                                            <option value="">Select</option>
                                            <option value="I">I</option>
                                            <option value="II">II</option>
                                            <option value="III">III</option>
                                        </select></td>
                                    <td colspan="2"><select id="dis_consolidate" name="dis_consolidate"
                                            class="form-control" fdprocessedid="w0l8u9">
                                            <option value="">Select</option>
                                            <option value="I">I</option>
                                            <option value="II">II</option>
                                            <option value="III">III</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <th>Position</th>
                                    <td colspan="3"><select id="pos_1_1Term" name="pos_1_1Term" class="form-control"
                                            fdprocessedid="mmgyrd">
                                            <option value="">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select></td>
                                    <td colspan="3"><select id="pos_1_2Term" name="pos_1_2Term" class="form-control"
                                            fdprocessedid="klnvo">
                                            <option value="">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select></td>
                                    <td colspan="3"><select id="pos_2_1Term" name="pos_2_1Term" class="form-control"
                                            fdprocessedid="0n4ww">
                                            <option value="">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select></td>
                                    <td colspan="3"><select id="pos_2_2Term" name="pos_2_2Term" class="form-control"
                                            fdprocessedid="ay1jps">
                                            <option value="">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select></td>
                                    <td colspan="2"><select id="pos_consolidate" name="pos_consolidate"
                                            class="form-control" fdprocessedid="0j8prw">
                                            <option value="">Select</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select></td>
                                </tr>
                                <tr>
                                    <th>Attendance</th>
                                    <td colspan="3"><input type="text" class="form-control rowinput" id="attd_1_1Term"
                                            name="attd_1_1Term" value="" fdprocessedid="kw00o"></td>
                                    <td colspan="3"><input type="text" class="form-control rowinput" id="attd_1_2Term"
                                            name="attd_1_2Term" value="" fdprocessedid="qh5jom"></td>
                                    <td colspan="3"><input type="text" class="form-control rowinput" id="attd_2_1Term"
                                            name="attd_2_1Term" value="" fdprocessedid="xa2mir"></td>
                                    <td colspan="3"><input type="text" class="form-control rowinput" id="attd_2_2Term"
                                            name="attd_2_2Term" value="" fdprocessedid="7finlk"></td>
                                    <td colspan="2"><input type="text" class="form-control rowinput"
                                            id="attd_consolidate" name="attd_consolidate" value="" readonly="true"
                                            style="background-color: #a7a7a7;" fdprocessedid="jwft7u"></td>
                                </tr>
                                <tr>
                                    <td style="font-weight:bold; text-align:left;">&nbsp;&nbsp;REMARKS</td>
                                    <td colspan="4"><select id="remarks1" name="remarks1" class="form-control"
                                            fdprocessedid="n0aww">
                                            <option value="">Select One</option>
                                            <option value="Can do better">Can do better</option>
                                            <option value="Needs attention">Needs attention</option>
                                            <option value="Excellent Keep it up">Excellent Keep it up</option>
                                            <option value="Satisfactory">Satisfactory</option>
                                        </select></td>
                                    <td colspan="4"><select id="remarks2" name="remarks2" class="form-control"
                                            fdprocessedid="ji8k1l">
                                            <option value="">Select One</option>
                                            <option value="Can do better">Can do better</option>
                                            <option value="Needs attention">Needs attention</option>
                                            <option value="Excellent Keep it up">Excellent Keep it up</option>
                                            <option value="Satisfactory">Satisfactory</option>
                                        </select></td>
                                    <td colspan="3"><select id="remarks3" name="remarks3" class="form-control"
                                            fdprocessedid="1bu9co">
                                            <option value="">Select One</option>
                                            <option value="Can do better">Can do better</option>
                                            <option value="Needs attention">Needs attention</option>
                                            <option value="Excellent Keep it up">Excellent Keep it up</option>
                                            <option value="Satisfactory">Satisfactory</option>
                                        </select></td>
                                    <td colspan="3"><select id="remarks4" name="remarks4" class="form-control"
                                            fdprocessedid="0z3ifc">
                                            <option value="">Select One</option>
                                            <option value="Promoted with grace">Promoted with grace</option>
                                            <option value="Promoted on medical ground">Promoted on medical ground
                                            </option>
                                            <option value="Passed">Passed</option>
                                            <option value="Promoted">Promoted</option>
                                            <option value="Failed">Failed</option>
                                        </select></td>

                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                                <tr>
                                    <td><span class="label label-primary" style="float:left;">Section</span><input
                                            type="text" class="form-control" name="section" value=""
                                            placeholder="Section" fdprocessedid="fe0bpb"></td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td><span class="label label-primary" style="float:left;">Roll No</span><input
                                            type="text" class="form-control" value="" name="rollNo"
                                            placeholder="Roll No" fdprocessedid="buok8w"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-primary btn-md pull-left"
                                style="margin-top: 22px;height: 34px;" id="btn_updateRecords" fdprocessedid="i99ndt" (click)="getStudentPerformance()"> 
                                Update Records</button>

                            <a href="../model/academic_record_model_temp.php?admission_no=h134&amp;flag=marksheet&amp;sessionVal=dfsg"
                                class="btn btn-info" id="frontPageLink"
                                style="float:left;margin-left:5%;margin-top: 22px;height: 34px;" target="_blank">Show
                                Pdf</a>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-warning btn-md" style="margin-top: 22px;height: 34px;"
                                data-dismiss="modal" id="close_model" fdprocessedid="65n12j" (click)="show = false">Close</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>