<div class="container-fluid">
    <div class="row">
        <div class="d-block side-container">
            <div class="sidebar ">
                <div class="logo-details d-flex flex-column active" style="background-color: #19c0a0;"
                    [ngClass]="{active:isActive, Inactive:!isActive}">
                    <img [src]="'https://cdn-icons-png.flaticon.com/512/9203/9203764.png'"
                        style="height: 50px;  width: 50px;" alt="">
                    <span routerLink="/" class="fw-bold my-2">LogOut</span>
                </div>

                <ul class="nav-links">
                    <li>
                        <a>
                            <i class='bx bx-grid-alt'></i>
                            <span class="link_name" routerLink="/admin/admin-dashboard">Dashboard</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/admin-dashboard">Dashboard</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class='bx bx-pie-chart-alt-2'></i>
                            <span class="link_name" routerLink="/admin/punching-format">Punching Format</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/punching-format">Punching Format</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a>
                                <i class='bx bx-collection'></i>
                                <span class="link_name">Manage Fee</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a class="link_name">Manage Fee</a></li>
                            <li><a routerLink="/admin/fee-payment">Fee Payment</a></li>
                            <li><a routerLink="/admin/tuition-fee">Tuition Fee </a></li>
                            <li><a routerLink="/admin/fee-status"> Fee Status</a></li>
                            <li><a routerLink="/admin/bill-amendment">Bill Amendment</a></li>
                            <li><a routerLink="/admin/print-receipt">Print Reciept</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a>
                                <i class='bx bx-book-alt'></i>
                                <span class="link_name">Reports</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a class="link_name">Reports</a></li>
                            <li><a routerLink="/admin/master-report">Master Report</a></li>
                            <li><a routerLink="/admin/complete-report">Complete Report</a></li>
                            <li><a routerLink="/admin/collection-report">Collecion Report</a></li>
                            <li><a routerLink="/admin/academic-report">Academic Report</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class='bx bx-pie-chart-alt-2'></i>
                            <span class="link_name" routerLink="/admin/enquiry">Enquiry</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/enquiry">Enquiry</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class='bx bx-line-chart'></i>
                            <span class="link_name" routerLink="/admin/academic-records">Academic Records</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/academic-records">Academic Records</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class='bx bx-line-chart'></i>
                            <span class="link_name" routerLink="/admin/manage-teacher">Manage Tecaher</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/manage-teacher">Manage Tecaher</a></li>
                        </ul>
                    </li>

                    <!-- this is book management system Lnks here -->

                    
                    <!-- <li>
                        <div class="iocn-link">
                            <a>
                                <i class='bx bx-plug'></i>
                                <span class="link_name">Books</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a class="link_name">Book Management</a></li>
                            <li><a routerLink="/admin/student" routerLink="/admin/stalk-in-book-record">Stock In Book
                                    (record)</a></li>
                            <li><a routerLink="/admin/student" routerLink="/admin/punch-sale-rate">Punch Sale Rate</a>
                            </li>
                            <li><a routerLink="/admin/student" routerLink="/admin/stalk-out-book-sale">Stalk Out Book
                                    Sale</a></li>
                            <li><a routerLink="/admin/student" routerLink="/admin/sale-bill-edit-delete">Sale Bill (Edit
                                    Delete)</a></li>
                            <li><a routerLink="/admin/student" routerLink="/admin/purchase-report">Purchase Report</a>
                            </li>
                            <li><a routerLink="/admin/student"
                                    routerLink="/admin/collection-between-two-dates">Collection Between Two Dates</a>
                            </li>
                            <li><a routerLink="/admin/student" routerLink="/admin/vendor-report">Vendor Report</a></li>
                            <li><a routerLink="/admin/student" routerLink="/admin/vendor-payment">Vendor Paymnet</a>
                            </li>
                            <li><a routerLink="/admin/student" routerLink="/admin/book-return">Book Return</a></li>
                        </ul>
                    </li> -->
                    <li>
                        <a>
                            <i class='bx bx-line-chart'></i>
                            <span class="link_name" routerLink="/admin/tc-issue">T.C Issue</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/tc-issue">T.C Issue</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="iocn-link">
                            <a>
                                <i class='bx bx-plug'></i>
                                <span class="link_name">Messages</span>
                            </a>
                            <i class='bx bxs-chevron-down arrow'></i>
                        </div>
                        <ul class="sub-menu">
                            <li><a class="link_name">Messages</a></li>
                            <li><a routerLink="/admin/student">Students</a></li>
                            <li><a routerLink="/admin/add">Add</a></li>
                            <li><a routerLink="/admin/send-message">Send Message</a></li>
                            <li><a routerLink="/admin/add-message">Add Message</a></li>
                            <li><a routerLink="/admin/check-log">Check Log</a></li>
                            <li><a routerLink="/admin/balance-left">Balance Left</a></li>
                        </ul>
                    </li>
                    <!-- <li>
                        <a>
                            <i class='bx bx-compass'></i>
                            <span class="link_name" routerLink="/admin/promote-to-higher-class">Promote </span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/promote-to-higher-class">Promote To Higher Class
                                </a></li>
                        </ul>
                    </li> -->
                    <li>
                        <a>
                            <i class='bx bx-history'></i>
                            <span class="link_name" routerLink="/admin/subject">Subject</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/subject">Subject</a></li>
                        </ul>
                    </li>
                    <li>
                        <a>
                            <i class='bx bx-cog'></i>
                            <span class="link_name" routerLink="/admin/certificate">Certificate</span>
                        </a>
                        <ul class="sub-menu blank">
                            <li><a class="link_name" routerLink="/admin/certificate">Certificate</a></li>
                        </ul>
                    </li>
                   
                </ul>
            </div>
          

        </div>