<div class="container-fluid">
    <div class="row">
        <div class="d-block side-container">
            <div class="dp">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThHGJm1cK4eaoaD8PspFhVIbmYlBo1Oh9eRQ&s" height="80px" width="80px" style="border-radius: 50%; margin-left: 36%; "  alt="">
                <h5 style="text-align: center; margin-top: 15px;"><strong><a href=""><i>Log Out</i></a></strong></h5>
            </div>
            <div class="top">
                <ul class="mcd-menu">
                    <li>
                            <a routerLink="/admin/admin-dashboard">
                                <i class="fa fa-home"></i>
                                <strong>Dashboard</strong>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-comments-o"></i>
                                <strong>Book Management</strong>
                            </a>
                            <ul>
                                <li><a routerLink="/admin/stalk-in-book-record"><i class="fa fa-globe"></i>Stock In Book (recd)</a></li>
                                <li>
                                    <a routerLink="/admin/punch-sale-rate"><i class="fa fa-group"></i>Punch Sale Rate</a>
                                </li>
                                <li><a routerLink="/admin/stalk-out-book-sale"><i class="fa fa-trophy"></i>Stalk Out (Book Sale)</a></li>
                                <li><a routerLink="/admin/sale-bill-edit-delete"><i class="fa fa-certificate"></i>Sale Bill (edit/delete)</a></li>
                                <li><a routerLink="/admin/purchase-report"><i class="fa fa-certificate"></i>Purchase Report</a></li>
                                <li><a routerLink="/admin/collection-between-two-dates"><i class="fa fa-certificate"></i>Collection Between Two Days</a></li>
                                <li><a routerLink="/admin/vendor-report"><i class="fa fa-certificate"></i>Vendor Report</a></li>
                                <li><a routerLink="/admin/vendor-payment"><i class="fa fa-certificate"></i>Vendor Payment</a></li>
                                <li><a routerLink="/admin/book-return"><i class="fa fa-certificate"></i>Book Return</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="admin/punching-format">
                                <i class="fa fa-home"></i>
                                <strong>Punching Format</strong>
                            </a>
                        </li>
                       
                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-comments-o"></i>
                                <strong>Manage Fee</strong>
                            </a>
                            <ul>
                                <li><a routerLink="/admin/fee-payment"><i class="fa fa-globe"></i>Fee Payment</a></li>
                                <li><a routerLink="/admin/fee-status"><i class="fa fa-globe"></i>Fee Status</a></li>
                                <li><a routerLink="/admin/bill-amendment"><i class="fa fa-globe"></i>Bill Amendment</a></li>
                                <li>
                                    <a routerLink="/admin/tuition-fee"><i class="fa fa-group"></i>Tuition Fee </a>
                                </li>
                                <li><a routerLink="/admin/print-receipt"><i class="fa fa-certificate"></i>Print Receipt</a></li>
                            </ul>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-comments-o"></i>
                                    <strong>Reports</strong>
                                </a>
                                <ul>
                                    <li><a routerLink="/admin/master-report"><i class="fa fa-globe"></i>Master Report</a></li>
                                    <li>
                                        <a routerLink="/admin/complete-report"><i class="fa fa-group"></i>Complete Report</a>
                                    </li>
                                    <li><a routerLink="/admin/collection-report"><i class="fa fa-trophy"></i>Collection Report</a></li>
                                    <li><a routerLink="/admin/academic-report"><i class="fa fa-certificate"></i>Academic Report</a></li>
                                </ul>
                            </li>
                            
                            <li>
                                <a routerLink="/admin/academic-records">
                                    <i class="fa fa-picture-o"></i>
                                    <strong>Academic Records</strong>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="fa fa-comments-o"></i>
                                    <strong>Message</strong>
                                </a>
                                <ul>
                                    <li><a routerLink="/admin/student"><i class="fa fa-globe"></i>Student</a></li>
                                    <li>
                                        <a routerLink="/admin/add"><i class="fa fa-group"></i>Add</a>
                                    </li>
                                    <li><a routerLink="/admin/send-message"><i class="fa fa-trophy"></i>Send Message</a></li>
                                    <li><a routerLink="/admin/add-message"><i class="fa fa-certificate"></i>Add Message</a></li>
                                    <li><a routerLink="/admin/check-log"><i class="fa fa-certificate"></i>Check Log</a></li>
                                    <li><a routerLink="/admin/balance-left"><i class="fa fa-certificate"></i>Balance Left</a></li>
                                </ul>
                            </li>
                            <li>
                                <a routerLink="/admin/subject">
                                    <i class="fa fa-envelope-o"></i>
                                    <strong>Subject</strong>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/admin/promote-to-higher-class">
                                    <i class="fa fa-envelope-o"></i>
                                    <strong>Promo TO Higher Cl </strong>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/admin/tc-issue">
                                    <i class="fa fa-envelope-o"></i>
                                    <strong>T.C Issue</strong>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/admin/certificate">
                                    <i class="fa fa-envelope-o"></i>
                                    <strong>Certificate</strong>
                                </a>
                            </li>
                            
                            <li>
                                <a routerLink="/admin/enquiry">
                                    <i class="fa fa-envelope-o"></i>
                                    <strong>Enquiry</strong>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/admin/manage-teacher">
                                    <i class="fa fa-envelope-o"></i>
                                    <strong>Manage Teacher</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
    </div>
