<div class="container-fluid">
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 px-3">Subject</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb px-3">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Subject</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-5">
                <div class="input-group" id="main_div">
                    <span class="input-group-addon"><i class="fa fa-list-ul"></i></span><select class="form-control"
                        type="text" id="enter_class" placeholder="Enter Class" onkeypress="return isNumber(event)"
                        maxlength="2" fdprocessedid="p3oo3l">
                        <option value="">Select Class</option>
                        <option value="PLAY_GROUP">PLAY GROUP</option>
                        <option value="NURSERY">NURSERY</option>
                        <option value="LKG">LKG</option>
                        <option value="UKG">UKG</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select><span class="input-group-btn"> <button type="button" style="min-width: 72px; height: 40px; background-color: #1ab394; border: none; border-radius: 3px; color: white;
                           ">Search
                        </button> </span>
                </div>
            </div>
        </div>
    </div>
</div>