<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm-12">
            <section class="home-section">
                <div class="home-content">
                    <button class='bx bx-menu rounded border-0' style="height: 28px;
                    width: 37px; padding: 5px;
                    background-color: #1ab394;
                    color: #ffff;
                "></button>
                </div>
            </section>
        </div>
    </div>
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6 " style="font-size: 1.75em; font-weight: 100;">Tuition Fee</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb px-3">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Tuition Fee</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
            <label for="start">Start date:</label>
            <input type="date" class="form-control w-25 mx-1" [(ngModel)]="dateObj.stdate" />
            <label for="start" class="select">End date:</label>
            <input type="date" class="form-control w-25 mx-1"  id="start" [(ngModel)]="dateObj.enddate" />
        </div>
        <div class="col-sm-6 d-flex">
            <select class="form-select" [(ngModel)]="assignClass" aria-label="Default select example">
                <option selected value="">Select Class</option>
                <option value="play_group">PLAY GROUP</option>
                <option value="nursery">NURSERY</option>
                <option value="Lkg">LKG</option>
                <option value="ukg">UKG</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>


            <button (click)="searchFee()"
                style="min-width: 72px; height: 40px; background-color: #18a689; border: none; color: white; border-radius: 3px;">
                Search
            </button>
        </div>
    </div>
    <div class="row mt-2" *ngIf="tutionFee.length > 0">
        <div class="col-sm-12 table-responsive">
            <b>Tution fee collection between two date</b>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ADM NO.</th>
                        <th>RECEIPT NO.</th>
                        <th>NAME OF STUDENT</th>
                        <th>CLASS</th>
                        <th>CONTACT NO.</th>
                        <th>AMOUNT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tutionFee">
                        <ng-container *ngIf="item.assign_class.toLowerCase() == assignClass.toLowerCase()">
                            <td>{{item.id}}</td>
                            <td>{{item.admission_number}}</td>
                            <td>{{item.receipt_no}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.assign_class}}</td>
                            <td>{{item.contact_number}}</td>
                            <td>{{item.fee?.tuition_fee}}</td>
                        </ng-container>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>