<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm-12">
            <section class="home-section">
                <div class="home-content">
                    <button class='bx bx-menu rounded border-0' style="height: 28px;
                    width: 37px; padding: 5px;
                    background-color: #1ab394;
                    color: #ffff;
                "></button>
                </div>
            </section>
        </div>
    <div class="row dashboard-container my-2">
        <div class="col-sm-12 py-3 mb-2 bg-light">
            <div class="display-6"style="font-size: 1.75em; font-weight: 100;">Check Log</div>
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb" >
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Check Log</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">


            <body>
                <table align="center" width="100%" id="tab" class="table table-bordered">
                    <thead>
                        <tr>
                            <th align="center" class="headert header">ID</th>
                            <th align="center" class="headert header">REQUEST</th>
                            <th align="center" class="headert header">RESPONSE</th>
                            <th class="headert header" align="center">CREDIT BEFORE</th>
                            <th class="headert header" align="center">MESSAGE LENGTH</th>
                            <th align="center" class="headert header">CREDIT AFTER</th>
                            <th align="center" class="headert header">TIME</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        $('table').tablesorter();
                    });
                    function getDel(str) {
                        $.post('../model/getDelivery.php', { 'data': str }, function (data) {
                            window.open(data, '_blank');
                        });

                    }
                </script>


            </body>
        </div>
    </div>
</div>