<div class="container-fluid">
  <div class="row p-3">
    <div class="col-sm-12">
        <section class="home-section">
            <div class="home-content">
                <button class='bx bx-menu rounded border-0' style="height: 28px;
                width: 37px; padding: 5px;
                background-color: #1ab394;
                color: #ffff;
            "></button>
            </div>
        </section>
    </div>
  <div class="row dashboard-container my-2">
    <div class="col-sm-12 py-3 mb-2 bg-light">
      <div class="display-6" style="font-size: 1.75em; font-weight: 100;">Bill Amendment</div>
      <nav aria-label="breadcrumb ">
        <ol class="breadcrumb px-3">
          <li class="breadcrumb-item">Home</li>
          <li class="breadcrumb-item active" aria-current="page">Bill Amendment</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 bg-light">
      <button (click)="toggleVisibility()">
        {{ isVisible ? 'Hide' : 'Show' }} Content
      </button>

      <div *ngIf="isVisible">
        <button class="my-3" style="width: 114px;">1.</button>
        <div class="form-group">
          <div class="form input">
            <h3 style="margin-left:30px; margin-top: 10px;"> your,s first name ?</h3>

            <input type="text" class="form-control" placeholder="Enter name">
          </div>
        </div>
        <button class="align my-2" style="width: 114px;">Finish</button>
      </div>

    </div>

  </div>
</div>